body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #209869;
}

.container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form {
    max-width: 270px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

#jogos {
    background-color: #fafafa;
    max-width: 400px;
    margin: 20px auto;
}

#jogos div {
    border: 1px solid gainsboro;
}

#jogos i {
    display: inline-block;
    margin-right: 10px;
    color: #209869;
    font-weight: 600;
    font-style: normal;
}

#jogos span {
    background-color: #209869;
    font-size: 20px;
    color: white;
    border-radius: 100%;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 5px;
}

.copy {
    font-size: 14px;
    color: gray;
    font-style: italic;
}

.copy a {
    color: gray;
    border-bottom: 1px dotted gray;
}

.copy a:hover {
    text-decoration: none;
    border-color: #209869;
    color: #209869;
}
